/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Colors*/

.smartblue{
  color:#334057;
}

.notblack{
  color:#333333;
}

.smartred{
  color:#ff495c;
}

.offgreen{
  color:#ebf5ee;
}

.smartbluebg{
  background-color:#334057;
}

.notblackbg{
  background-color:#333333;
}

.smartredbg{
  background-color:#ff495c;
}

.offgreenbg, body{
  background-color:#ebf5ee;
}

/*Links and buttons*/

a{
  text-decoration: none;
}

.primary-button{
  background-color:#FF495C;
  border:2px solid #FF495C;
  color:white;
  border-radius: 100px;
  padding:7px 20px;
  transition:all .2s ease-in-out;
  text-transform: uppercase;
  font-weight:bold;
  margin-bottom:10px;
  display:inline-block;
  width: auto;
}

.primary-button:hover{
  background-color:white;
  color:#FF495C;
}

/*Fonts and stuff*/

h1,h2,h3,h4,h5,h6{
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0em;
}

h1{
  margin-top:1em;
  margin-bottom:.25em;
  font-size:38pt;
  line-height:1.3em;
}

h2,h3{
  margin-top:1em;
  margin-bottom:.25em;
}

h5{
  font-weight:200;
  line-height:1em;
  margin-bottom:5px;
  font-size:14pt;
  text-transform: uppercase;
}

body,p,li,a{
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: .044em;
}

p{
  margin-bottom:1em;
}

/*Mobile Styles*/

/*Header*/

header{
  background-color:#334057;
  color:white;
}

/*Menu*/

nav{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  width:100%;
  max-width:1280px;
  padding:15px;
}

.logo-wrap{
  max-width:200px;
  width:35%;
}

#menu-open{
  width:50%;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

#menu-open img{
  width:20px;
  height:20px;
  margin-bottom:5px;
  transition: transform .2s ease-in-out;
}

.show-menu .main-menu-wrap{
  display:flex;
}

.show-menu #menu-open img{
  transform: rotate(180deg);
}

.main-menu-wrap{
  display:none;
  flex-direction: column;
  flex-wrap: wrap;
  margin:0 auto;
  width:100%;
  align-items: flex-start;
}

.main-menu-wrap a{
  color:white;
  text-transform: uppercase;
  font-weight: bolder;
  position:relative;
}

.main-menu-wrap a::after{
  content: " ";
  position: absolute;
  background-color: white;
  bottom:2px;
  left:0;
  height:3px;
  width:0%;
  transition: width .2s ease-in-out;
}

.main-menu-wrap a.primary-button::after{
  display: none!important;
}

.main-menu-wrap a:hover::after{
  width:100%;
}

/*homepage*/

.content-wrap{
  margin: 0 30px;
}

/*Footer*/

footer{
  background-color:#334057;
  color:white;
}

.service-menu-wrap{
  background-color:#ff495c;
}

.footer-contact, .social-links, #footer-info{
  width:90%;
  margin:0 auto;
}

.services-menu{
  display:flex;
  margin:5px auto;
  padding:0px;
  justify-content:space-between;
  background-color:#ff495c;
  width:90%;
  padding:15px;
}

.services-menu li{
  list-style-type:none;
  text-transform:uppercase;
}

.services-menu li a{
  color:white;
  font-weight: bold;
}

.desktop-flex{
  display:none;
}

#footer-info{
  padding:15px;
}

.footer-contact{
  padding:15px;
}

.footer-contact a{
  color:white;
  font-weight:bold;
}

.social-links{
  display:flex;
  justify-content: space-between;
  padding:5px 15px;
}

.social-links a{
  width:15%;
  max-width:30px;
}

/*Standouts*/

.standout{
  background-image: linear-gradient(0deg, rgba(255, 255, 126, 0.3), rgba(255, 255, 126, 0.3)), url(/images/paper.jpg);
  font-weight: 700;
  padding:5px;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
  -webkit-clip-path: polygon(1% 5%,100% 1%,100% 95%,0% 100%);
          clip-path: polygon(1% 5%,100% 1%,100% 95%,0% 100%);
  display: inline-block;
}

.standout::after{
  content:" ";
  position:absolute;
  bottom:.15em;
  transform:rotate(-1deg);
  left:0;
  background-color: #111;
  width:95%;
  height:.1em;
  margin-left: 2%;
}

.is-flex{
	display:flex;
	justify-content: space-between;
	align-items: center;

}
.project-description{
	background-color: red;
	width:40%;
	height: 100%;
}

.imac-outer-wrap{
	position:relative;
	width:60%;
}
.imac-wrap{
margin-top:0px;
padding-top:100px;
position: relative;
height:200vh;
left:50%;


}
/* The imac with borders */
.imac {
	margin:5px 0px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */

  position: sticky;
  width: 80vw;
	max-width:1366px;
	height:50vw;
  max-height: 768px;
  border-radius: 30px 30px 25px 25px;
  border-style: solid;
  border-color: black;
  border-width: 35px;
  background:transparent;
  top:25vh;
}

/* Stand */
.imac:after {
  content: '';
  display: block;
  position: absolute;
	width:19vw;
	height:14vw;
  max-height: 202px;
  left: calc(50% - 9.5vw);
  margin: 80px auto;
	background: #808080;
	background: linear-gradient(to bottom, #808080 0%, #fafafa 54%, #fafafa 56%, #aaa 73%, #aaa 75%, #aaaaaa 85%, #ddd 95%,#ddd 95%, #dddddd 100%);
  border-radius: 20px;
	clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
}


.imac-screen {

	  background-clip: padding-box;
  width: 100%;
  height: 100%;
	border: none!important;
	padding-bottom:0px!important;
	background-color: rgba(0,0,0,0);
	overflow:hidden;
}
.imac-screen img{
	padding:0px;
	width:100%;

}

.apple-logo{
	background: #cccccc;
	  background: linear-gradient(to right, #cccccc 0%, #eeeeee 100%);
		position: absolute;
		width: calc(100% + 72px);
		height:100px;
		margin-left: -36px;
		z-index: 2;
		box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
		border-radius:0px 0px 30px 30px;
		bottom:-85px;

}
.apple-logo > .fa-apple{
	font-size:60px!important;
	padding-top:15px;
	text-align:center;
	display: flex;
	justify-content: center;
}


/****************************************************************/
/*******************EXTERNAL LIBRARY CSS************************/
/****************************************************************/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}


/*
	Containers
*/
#content-wrapper, #example-wrapper {
	height: 100%;
}
.scrollContainer {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%
}
.scrollContainer {
	height: 100%;
	margin: auto;
}
#example-wrapper .scrollContent {
	height: 100%;
}

.horizontal.scrollContainer {
	overflow-y: hidden;
	overflow-x: scroll;
}
#example-wrapper.scrollContainer .scrollContent {
	width: 100%;
	height: auto;
}
#example-wrapper.scrollContainer.horizontal .scrollContent {
	width: auto;
	height: 100%;
}
#example-wrapper.horizontal {
	white-space: nowrap;
	font-size: 0;  /* fix for spaces between inline block divs */
}
#example-wrapper.horizontal div {
	font-size: 13px;
}
#example-wrapper .scrollContent, #example-wrapper.horizontal .scrollContent {
	font-size: 0;
}
#example-wrapper .scrollContent div {
	font-size: 13px;
}
#example-wrapper section {
}

section#titlechart {
	text-align: center;
	position: relative;
	height: 100%;
	min-height: 500px;
	min-width: 100%;
	height: 100vh;
}
.horizontal section, .horizontal section#titlechart{
	display: inline-block;
	vertical-align: top;
	height: 100%;
}
section#titlechart #description {
	top: 50%;
	left: 50%;
	position: absolute;
	width: 600px;
	height: 300px;
	margin: -150px auto auto -300px;
}
section#titlechart.home #description {
	padding-top: 0;
	padding-bottom: 100px;
}
section#titlechart #description h1 {
	margin: 0;
}
section#titlechart #description h2 {
	margin-bottom: 20px;
}
section#titlechart #description a.viewsource {
	margin-bottom: 20px;
	display: inline-block;
}
section#titlechart #description code {
	background-color: #E1F1FF;
	padding-left: 2px;
	padding-right: 2px;
	white-space: nowrap;
}

section#titlechart #description ol, section#titlechart #description p {
	text-align: left;
	max-width: 400px;
	margin: 10px auto 10px auto;
	white-space: normal;
}
section#titlechart #description ol {
	list-style-position: outside;
}
#example-wrapper section#titlechart #description:after {
	content: "↧";
	font-size: 40px;
	display: block;
}
#example-wrapper.horizontal section#titlechart #description:after {
	content: "↦";
}

.box1, .box2, .box3 {
	display: inline-block;
	position: relative;
	border-radius: 8px;
	border: 0px solid white;
	text-align: center;
	vertical-align: middle;
	padding: 0 5px;
}
.box1 {
	min-width: 100px;
	height: 100px;
	margin: 0 auto 0 auto;
}
.box2 {
	min-width: 50px;
	height: 50px;
	margin: 25px auto 25px auto;
}
.box3 {
	min-width: 26px;
	height: 26px;
	margin: 37px auto 37px auto;
}
.horizontal .box1 {
	top: 50%;
	max-height: 100px;
	margin: -50px 0 auto 0;
}
.horizontal .box2 {
	top: 50%;
	max-height: 50px;
	margin: -25px 25px auto 25px;
}
.horizontal .box3 {
	top: 50%;
	max-height: 26px;
	margin: -13px 37px auto 37px;
}
.box1 p, .box2 p, .box3 p {
	margin: 5px 15px 5px 15px;
	font-size: 13px;
	font-weight: lighter;
	color: white;
}
#reveal-elements .digit {
	vertical-align: top;
}
#reveal-elements .digit p {
	font-size: 35px;
	font-weight: bold;
}
.box1 p:first-child {
	margin-top: 27px;
}
.box1 a, .box2 a, .box3 a {
	color: white;
}
.box1.white *, .box2.white *, .box3.white * {
	color: #2e639e;
}
.box2.mario {
	background-color: #004fae;
	border-top: 30px solid #fc112f;
	border-bottom: 10px solid #c4723b;
}
.box3.goomba {
	min-width: 30px;
	height: 4px;
	margin-top: 75px;
	margin-left: 30px;
	margin-bottom: 25px;
	background-color: #b39475;
	border-top: 30px solid #744527;
	border-bottom: 6px solid #c4723b;
}
/*
	colors
*/

.box1.outline, .box2.outline, .box3.outline {
	border: 1px solid white;
}
.blue {
	background-color: #3883d8;
}
.turqoise {
	background-color: #38ced7;
}
.brown {
	background-color: #a66f28;
}
.bordeaux {
	background-color: #953543;
}
.skin {
	background-color: #ED9F4C;
}
.black {
	background-color: #000000;
}
.white {
	background-color: #FFFFFF;
}
.red {
	background-color: #cf3535;
}
.green {
	background-color: #22d659;
}
.orange {
	background-color: #ea6300;
}


/*
	Codecontainer
*/
#codecontainer {
	position: fixed;
	top: 30px;
	bottom: 20px;
	right: 20px;
	left: 20px;
	background-color: white;
	border-radius: 4px;
	z-index: 99999;
	min-height: 300px;
}
#codecontainer pre {
	margin: 0;
	padding: 0;
	line-height: 16px;
	tab-size: 4;
}
#codecontainer pre .break {
	background-color: #F6F6F6;
	font-weight: bold;
	color: #aaa;
}
#codecontainer pre .break:before {
	content: "᎒"
}
#codecontainer .codewrap {
	position: absolute;
	top: 10px;
	bottom: 10px;
	width: 100%;
	overflow: hidden;
	overflow: scroll;
	white-space: nowrap;
}
#codecontainer .code, #codecontainer .linenumbers {
	min-height: 100%;
}
#codecontainer .code {
	padding: 0;
	display: inline-block;
}
#codecontainer .code {
	padding: 0 15px 10px 5px;
}
#codecontainer .linenumbers {
	float: left;
	padding: 0px 5px 0px 10px;
	color: #aaa;
	text-align: right;
	border-right: 1px solid #e5e5e5;
}
#codecontainer span.indent {
	width: 31px;
	display: inline-block;
	white-space: nowrap;
}
#codecontainer #close.button {
	position: fixed;
	top: 20px;
	right: 10px;
	width: 20px;
	height: 20px;
}
#codecontainer #select.button {
	position: fixed;
	top: 20px;
	right: 40px;
	height: 20px;
	padding: 0 10px 0 10px;
}
#codecontainer #close.button:after {
	content: "྾";
}
#codecontainer .button {
	background-color: white;
	border-radius: 10px;
	border: 1px solid #e5e5e5;
	text-align: center;
	cursor: pointer;
	color: #2e639e;
}
#codecontainer .button:hover {
	background-color: #3883d8;
	color: white;
}

/*
	OTHER
*/
a.viewsource:after {
	content: " }";
}
a.viewsource:before {
	content: "{ ";
}

#parallaxContainer {
	width: 900px;
	height: 500px;
	top: 30px;
	position: relative;
}
#parallaxContainer .layer1 {
	height: 100%;
	text-align: center;
	background-image: url("../img/example_parallax_l1.gif");
}
#parallaxContainer .layer2 {
	background-image: url("../img/example_parallax_l2.png");
	position: absolute;
	height: 139px;
	width: 100%;
	bottom: 32px
}
#parallaxContainer .layer3 {
	background-image: url("../img/example_parallax_l3.gif");
	position: absolute;
	height: 32px;
	width: 100%;
	bottom: 0px;
}
#parallaxText {
	width: 0;
	height: 100%;
	margin: auto;
	position: relative;
}
#parallaxText .layer1, #parallaxText .layer2, #parallaxText .layer3 {
	position: absolute;
	font-size: 50px;
	line-height: 50px;
	margin-left: -150px;
	margin-top: -25px;
	width: 300px;
	top: 50%;
	left: 50%;
	text-align: center;
	color: #133f71;
}
#parallaxText .layer1 {
	top: 48%;
}
#parallaxText .layer2 {
	top: 49%;
}
#parallaxText .layer3 a {
	display: block;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
}
#parallax1 > div, #parallax2 > div, #parallax3 > div {
	-webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;-webkit-perspective: 1000;
}



.demo#section-slides, .demo#section-wipes {
	height: 100%;
	width: 100%;
	background-image: none;
}
.demo#section-slides .panel, .demo#section-wipes .panel {
	background-image: url("../img/example_bg_spacer_v.gif");
}
.demo#section-wipes #pinContainer .turqoise, .demo#section-wipes #pinContainer .green, .demo#section-slides #slideContainer .panel {
	background-image: url("../img/example_bg_spacer_h.gif");
}
.demo#section-slides .panel > b, .demo#section-wipes .panel > b {
	font-size: 15px;
	color: white;
	position: relative;
	display: block;
	height: 0;
	overflow: visible;
	top: 50%;
}

/****************************************************************/
/******************END EXTERNAL LIBRARY CSS**********************/
/***************************************************************/


















/*Media Queries*/

/*ipad styles*/

@media only screen and (min-width:600px) {
}

/*small desktop & large tablet*/

@media only screen and (min-width:800px) {
  /*Header & Menu*/

  nav{
    max-width:1500px;
    width: 80%;
    margin:0px auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  #menu-open{
    display:none;
  }

  .logo-wrap{
    width:17.5%;
  }

  .main-menu-wrap{
    display:flex;
    width:80%;
    max-width:800px;
    flex-direction: row;
    justify-content: space-around;
    margin-right:0px;
    align-items: baseline;
  }

  /*Footer*/

  .services-menu.desktop-flex{
    max-width:1080px;
    width:80%;
  }

  .footer-contact, .social-links, #footer-info{
    width:80%;
    max-width:1080px;
    margin: 0 auto;
  }

  .section,section{
    width:80%;
    max-width:1280px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
  }

  .d-half{
    width:48.5%;
  }

  .do-1{
    order:1;
  }

  .do-2{
    order:2;
  }

  .do-3{
    order:3;
  }

  .d-float-right{
    float:right;
  }
}

/*Desktop*/

@media only screen and (min-width:981px) {
  .desktop-flex{
    display:flex;
  }

  .mobile-flex{
    display:none;
  }
}

/*Large Desktop*/

@media only screen and (min-width:1300px) {
  /*Footer*/

  .services-menu.desktop-flex,.footer-contact, .social-links, #footer-info{
    max-width:1280px;
  }
}
