/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Colors*/

.smartblue{
  color:#334057;
}

.notblack{
  color:#333333;
}

.smartred{
  color:#ff495c;
}

.offgreen{
  color:#ebf5ee;
}

.smartbluebg{
  background-color:#334057;
}

.notblackbg{
  background-color:#333333;
}

.smartredbg{
  background-color:#ff495c;
}

.offgreenbg, body{
  background-color:#ebf5ee;
}

/*Links and buttons*/

a{
  text-decoration: none;
}

.primary-button{
  background-color:#FF495C;
  border:2px solid #FF495C;
  color:white;
  border-radius: 100px;
  padding:7px 20px;
  transition:all .2s ease-in-out;
  text-transform: uppercase;
  font-weight:bold;
  margin-bottom:10px;
  display:inline-block;
  width: auto;
}

.primary-button:hover{
  background-color:white;
  color:#FF495C;
}

/*Fonts and stuff*/

h1,h2,h3,h4,h5,h6{
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0em;
}

h1{
  margin-top:1em;
  margin-bottom:.25em;
  font-size:38pt;
  line-height:1.3em;
}

h2,h3{
  margin-top:1em;
  margin-bottom:.25em;
}

h5{
  font-weight:200;
  line-height:1em;
  margin-bottom:5px;
  font-size:14pt;
  text-transform: uppercase;
}

body,p,li,a{
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: .044em;
}

p{
  margin-bottom:1em;
}

/*Mobile Styles*/

/*Header*/

header{
  background-color:#334057;
  color:white;
}

/*Menu*/

nav{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  width:100%;
  max-width:1280px;
  padding:15px;
}

.logo-wrap{
  max-width:200px;
  width:35%;
}

#menu-open{
  width:50%;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

#menu-open img{
  width:20px;
  height:20px;
  margin-bottom:5px;
  transition: transform .2s ease-in-out;
}

.show-menu .main-menu-wrap{
  display:flex;
}

.show-menu #menu-open img{
  transform: rotate(180deg);
}

.main-menu-wrap{
  display:none;
  flex-direction: column;
  flex-wrap: wrap;
  margin:0 auto;
  width:100%;
  align-items: flex-start;
}

.main-menu-wrap a{
  color:white;
  text-transform: uppercase;
  font-weight: bolder;
  position:relative;
}

.main-menu-wrap a::after{
  content: " ";
  position: absolute;
  background-color: white;
  bottom:2px;
  left:0;
  height:3px;
  width:0%;
  transition: width .2s ease-in-out;
}

.main-menu-wrap a.primary-button::after{
  display: none!important;
}

.main-menu-wrap a:hover::after{
  width:100%;
}

/*homepage*/

.content-wrap{
  margin: 0 30px;
}

/*Footer*/

footer{
  background-color:#334057;
  color:white;
}

.service-menu-wrap{
  background-color:#ff495c;
}

.footer-contact, .social-links, #footer-info{
  width:90%;
  margin:0 auto;
}

.services-menu{
  display:flex;
  margin:5px auto;
  padding:0px;
  justify-content:space-between;
  background-color:#ff495c;
  width:90%;
  padding:15px;
}

.services-menu li{
  list-style-type:none;
  text-transform:uppercase;
}

.services-menu li a{
  color:white;
  font-weight: bold;
}

.desktop-flex{
  display:none;
}

#footer-info{
  padding:15px;
}

.footer-contact{
  padding:15px;
}

.footer-contact a{
  color:white;
  font-weight:bold;
}

.social-links{
  display:flex;
  justify-content: space-between;
  padding:5px 15px;
}

.social-links a{
  width:15%;
  max-width:30px;
}

/*Standouts*/

.standout{
  background-image: linear-gradient(0deg, rgba(255, 255, 126, 0.3), rgba(255, 255, 126, 0.3)), url(/images/paper.jpg);
  font-weight: 700;
  padding:5px;
  background-size: cover;
  background-repeat: no-repeat;
  position:relative;
  -webkit-clip-path: polygon(1% 5%,100% 1%,100% 95%,0% 100%);
          clip-path: polygon(1% 5%,100% 1%,100% 95%,0% 100%);
  display: inline-block;
}

.standout::after{
  content:" ";
  position:absolute;
  bottom:.15em;
  transform:rotate(-1deg);
  left:0;
  background-color: #111;
  width:95%;
  height:.1em;
  margin-left: 2%;
}

/*Media Queries*/

/*ipad styles*/

@media only screen and (min-width:600px) {
}

/*small desktop & large tablet*/

@media only screen and (min-width:800px) {
  /*Header & Menu*/

  nav{
    max-width:1500px;
    width: 80%;
    margin:0px auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  #menu-open{
    display:none;
  }

  .logo-wrap{
    width:17.5%;
  }

  .main-menu-wrap{
    display:flex;
    width:80%;
    max-width:800px;
    flex-direction: row;
    justify-content: space-around;
    margin-right:0px;
    align-items: center;
  }

  /*Footer*/

  .services-menu.desktop-flex{
    max-width:1080px;
    width:80%;
  }

  .footer-contact, .social-links, #footer-info{
    width:80%;
    max-width:1080px;
    margin: 0 auto;
  }

  .section{
    width:80%;
    max-width:1280px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
  }

  .d-half{
    width:48.5%;
  }

  .do-1{
    order:1;
  }

  .do-2{
    order:2;
  }

  .do-3{
    order:3;
  }

  .d-float-right{
    float:right;
  }
}

/*Desktop*/

@media only screen and (min-width:981px) {
  .desktop-flex{
    display:flex;
  }

  .mobile-flex{
    display:none;
  }
}

/*Large Desktop*/

@media only screen and (min-width:1300px) {
  /*Footer*/

  .services-menu.desktop-flex,.footer-contact, .social-links, #footer-info{
    max-width:1280px;
  }
}

